<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Cancer Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Skin Cancer Detection</h1>
    <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Predict</button>
    </form>
</body>
</html>
